Repository kirchik95/pebitoro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add redux, router and other basic stuff
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/core/redux/hooks.ts
  src/core/redux/store.ts
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

Add eslint import, prettier import plugins, aliases
  .eslintrc.cjs
  .prettierrc.cjs
  README.md
  package-lock.json
  package.json
  src/core/redux/store.ts
  src/main.css
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update few things
  .prettierrc.cjs
  package.json
  src/core/redux/store.ts
Due: prettier --write, eslint --fix

Add Header components, css variables, update configs
  .eslintrc.cjs
  .postcssrc.cjs
  .prettierrc.cjs
  .stylelintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/core/components/Header/Header.module.css
  src/core/components/Header/Header.tsx
  src/core/components/Header/index.ts
  src/core/redux/hooks.ts
  src/core/styles/media.css
  src/core/styles/variables.css
  src/features/Main/Main.module.css
  src/features/Main/Main.tsx
  src/features/Main/index.ts
  src/main.css
  src/main.tsx
  src/styles/media.css
  src/styles/variables.css
  src/ui/Container/Container.module.css
  src/ui/Container/Container.tsx
  src/ui/Container/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

Update Header component
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/core/components/Header/Header.module.css
  src/core/components/Header/Header.tsx
  src/main.css
  src/shared/Logo/Logo.module.css
  src/shared/Logo/Logo.tsx
  src/shared/Logo/index.ts
  src/ui/Text/Text.tsx
  src/ui/Text/index.ts
  src/ui/Title/Title.tsx
  src/ui/Title/index.ts
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add Avatar component
  .eslintrc.cjs
  .prettierrc.cjs
  src/assets/avatars/avatar-1.png
  src/core/components/Header/Header.module.css
  src/core/components/Header/Header.tsx
  src/main.css
  src/shared/Avatar/Avatar.module.css
  src/shared/Avatar/Avatar.tsx
  src/shared/Avatar/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add Widget component
  package-lock.json
  package.json
  src/assets/backgrounds/background-1.jpg
  src/assets/backgrounds/background-2.jpg
  src/assets/backgrounds/background-3.jpg
  src/core/components/Header/Header.module.css
  src/core/styles/variables.css
  src/features/Main/Main.module.css
  src/features/Main/Main.tsx
  src/main.css
  src/main.tsx
  src/shared/Logo/Logo.module.css
  src/ui/Widget/Widget.module.css
  src/ui/Widget/Widget.tsx
  src/ui/Widget/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add WelcomeWidget, Grid components & date-fns package
  .prettierrc.cjs
  package-lock.json
  package.json
  src/core/styles/variables.css
  src/features/Main/Main.module.css
  src/features/Main/Main.tsx
  src/features/Main/components/CalendarWidget/CalendarWidget.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.tsx
  src/features/Main/components/CalendarWidget/index.ts
  src/features/Main/components/WelcomeWidget/WelcomeWidget.module.css
  src/features/Main/components/WelcomeWidget/WelcomeWidget.tsx
  src/features/Main/components/WelcomeWidget/index.ts
  src/shared/Logo/Logo.module.css
  src/ui/Grid/Grid.module.css
  src/ui/Grid/Grid.tsx
  src/ui/Grid/index.ts
  src/ui/Text/Text.module.css
  src/ui/Text/Text.tsx
  src/ui/Text/index.ts
  src/ui/Widget/Widget.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add CalendarWidget component
  src/features/Main/components/CalendarWidget/CalendarWidget.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.tsx
  src/features/Main/components/CalendarWidget/constants.ts
  src/features/Main/components/CalendarWidget/helpers.ts
  src/main.css
Due: prettier --write, eslint --fix, stylelint --fix

Add brand-primary-* variables
  src/core/styles/variables.css
Due: prettier --write, stylelint --fix

Update CalendarWidget component, Add Button, Svg components
  package-lock.json
  package.json
  public/icons/chevron.svg
  public/vite.svg
  src/core/styles/variables.css
  src/features/Main/Main.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.tsx
  src/shared/Svg/Svg.tsx
  src/shared/Svg/index.ts
  src/ui/Button/Button.module.css
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/Grid/Grid.module.css
  src/ui/Widget/Widget.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add basic framer-motion animation for CalendarWidget
  package-lock.json
  package.json
  src/features/Main/Main.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.module.css
  src/features/Main/components/CalendarWidget/CalendarWidget.tsx
  src/features/Main/components/WelcomeWidget/WelcomeWidget.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Fix framer-motion animation
  src/features/Main/components/CalendarWidget/CalendarWidget.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx,json,css,scss}
  eslint --fix: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss}
